<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/personalCenter-css/personalMain.css" />

<div
  ng-controller="bindCtrl"
  class="businessMain"
  style="height: calc(100vh - 20px)"
>
  <!--页面top导航-->
  <div id="header">
    <div class="header-left" align="center">
      <img
        ng-if="info.logo"
        :ng-src="{{imageUrl+ info.logo}}"
        onerror="this.src='./images/logo.png'"
        alt="logo"
        style="
          width: 300px;
          height: 52px;
          border-radius: 10px;
          background-color: #fff;
        "
      />
    </div>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#/">首页</a></li>
      <li role="presentation"><a href="#/OnlineBusinessHall">网上营业厅</a></li>
    </ul>
    <div class="header-right">
      <div>
        <p>
          <i
            class="layui-icon layui-icon-username"
            style="font-size: 30px; color: #fff"
          ></i>
        </p>
        <ul class="header-right-more">
          <li onclick="removelocalStorage('phone', 'openId')">
            <a href="#/">退出</a>
          </li>
          <li><a href="#/userInfo">个人中心</a></li>
        </ul>
      </div>
    </div>
    <div class="header-right" style="margin-right: 0px">
      <div>
        <p>
          <i
            class="layui-icon layui-icon-theme"
            style="font-size: 30px; color: #fff"
          ></i>
        </p>
        <ul class="header-right-more">
          <li onclick="changeNavTheme(1)">
            <a
              href="javascript:void(0)"
              style="background-color: #0a7be0; color: #0a7be0"
              >主题1</a
            >
          </li>
          <li onclick="changeNavTheme(2)">
            <a href="javascript:void(0)" style="background-color: #1e1e1e"
              >主题2</a
            >
          </li>
          <li onclick="changeNavTheme(3)">
            <a
              href="javascript:void(0)"
              style="background-color: #4dc0b3; color: #4dc0b3"
              >主题3</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="bg"></div>
  <div id="head-phone">
    <div class="head-phone">
      <p class="head-phone-left">
        <i
          class="layui-icon layui-icon-shrink-right"
          style="font-size: 30px"
        ></i>
      </p>
      <p id="page-title">水务集团</p>
      <p class="head-phone-right clickshow">
        <i class="layui-icon layui-icon-user" style="font-size: 30px"></i>
      </p>
      <ul class="header-right-more" onblur="$(this).fadeToggle()">
        <li><a href="#/userInfo">个人中心</a></li>
        <li onclick="removelocalStorage('phone', 'openId')">
          <a href="#/">退出</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="main">
    <!--页面left导航 start -->
    <div id="aside">
      <div class="indentation" style="margin-top: 10px">
        <a href="#/OnlineBusinessHall" style="color: #000">
          <p class="left-home">
            <i class="layui-icon layui-icon-home" style="font-size: 25px"></i>
          </p>
        </a>
        <p class="left-in">
          <i
            class="layui-icon layui-icon-spread-left"
            style="font-size: 25px"
          ></i>
        </p>
      </div>
      <ul class="list-group ul">
        <li class="list-group-item">
          <i></i
          ><a href="#/OnlineBusinessHall"
            ><span class="asideicon"
              ><img src="./images/business/1.png" alt="" /></span
            >客户中心</a
          >
        </li>
        <li class="list-group-item">
          <i></i
          ><a href="#/waterPriceQuery"
            ><span class="asideicon"
              ><img src="./images/business/2.png" alt="" /></span
            >水费查询</a
          >
        </li>
        <li class="list-group-item">
          <i></i
          ><a href="#/paymentQuery"
            ><span class="asideicon"
              ><img src="./images/business/3.png" alt="" /></span
            >缴费查询</a
          >
        </li>
        <li class="list-group-item show">
          <i></i>
          <a href="javascript:void(0)"
            ><span class="asideicon"
              ><img src="./images/business/5.png" alt="" /></span
            >业务办理 <span class="layui-icon layui-icon-right"></span
          ></a>
          <ul class="list-group more">
            <div class="in">
              <!-- <li class="list-group-item"><i></i><a href="#/peopleNewInstallLC">个人报装</a></li>
                                          <li class="list-group-item"><i></i><a href="#/companyNewInstallLC">企事业报装</a></li>
                                          <li class="list-group-item"><i></i><a href="#/chooseUserNameLC">用户过户</a></li>
                                          <li class="list-group-item"><i></i><a href="#/cancelUserLC">用户销户</a></li>
                                          <li class="list-group-item"><i></i><a href="#/chooseWaterNature">用水性质变更</a></li> -->
              <li ng-repeat="item in SysMenuList" class="list-group-item">
                <i></i><a ng-href="{{ '#' + item.menuUrl }}">{{ item.name }}</a>
              </li>
            </div>
          </ul>
        </li>

        <li class="list-group-item teshow newshow">
          <i></i>
          <!-- <a href="javascript:void(0)"><span class="asideicon"><img src="./images/business/5.png"
                          alt=""></span>业务办理 <span class="layui-icon layui-icon-right"></span></a> -->
          <ul class="list-group more biz-group">
            <div class="in">
              <li class="list-group-item">
                <i></i><a href="#/peopleNewInstallLC">个人报装</a>
              </li>
              <li class="list-group-item">
                <i></i><a href="#/companyNewInstallLC">企事业报装</a>
              </li>
              <li class="list-group-item">
                <i></i><a href="#/chooseUserNameLC">用户过户</a>
              </li>
              <li class="list-group-item">
                <i></i><a href="#/cancelUserLC">用户销户</a>
              </li>
              <li class="list-group-item">
                <i></i><a href="#/chooseWaterNature">用水性质变更</a>
              </li>
            </div>
          </ul>
        </li>

        <li class="list-group-item">
          <i></i
          ><a href="#/processListLC"
            ><span class="asideicon"
              ><img src="./images/business/7.png" alt="" /></span
            >我的业务</a
          >
        </li>
        <li class="list-group-item">
          <i></i
          ><a href="#/account"
            ><span class="asideicon"
              ><img src="./images/business/17.png" alt="" /></span
            >管理账户</a
          >
        </li>
      </ul>
      <ul class="list-group newmore">
        <div class="newin">
          <div class="business-search">
            <p class="searchBtn">搜索</p>
            <input type="text" class="search" />
          </div>
          <ul class="business-ul">
            <li class="water title">
              <p>新报装申请</p>
              <ul>
                <li><a href="#/peopleNewInstallLC">个人报装</a></li>
                <li><a href="#/companyNewInstallLC">企事业报装</a></li>
              </ul>
            </li>

            <!-- <li class="service title">
                      <p>用水缴费</p>
                      <ul>
                          <li><a href="#/waterPriceQuery">水费查询</a></li>
                      </ul>
                  </li> -->
            <li class="service title">
              <p>用户信息变更</p>
              <ul>
                <li><a href="#/chooseUserNameLC">用户过户</a></li>
                <li><a href="#/cancelUserLC">用户销户</a></li>
                <li><a href="#/chooseWaterNature">用水性质变更</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </ul>
    </div>
    <!--页面left导航 end -->

    <div class="right">
      <div class="main-content" id="headListDiv">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item" aria-current="page">管理账户</li>
          </ol>
        </nav>
        <div class="background">
          <div class="data-form" style="padding-top: 20px">
            <div class="content">
              <form class="form-horizontal" id="editForm">
                <div class="top-back">
                  <div class="form-group form-border">
                    <label class="col-sm-1 control-label"
                      ><label style="color: #ff0000">*</label>户号</label
                    >
                    <div class="col-sm-6">
                      <input
                        id="userCode"
                        class="form-control"
                        type="text"
                        name="consNo"
                        required
                        maxlength="20"
                        placeholder="请填写户号"
                      />
                    </div>
                  </div>
                </div>

                <div class="top-backnone">
                  <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                      <!-- <input type="button" class="btn btn-default" onclick="goBack(true)" value="返回" />&nbsp;&nbsp; -->

                      <input
                        type="button"
                        class="btn btn-primary"
                        onclick="doSubmit();return false;"
                        value="确认绑定"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="hint-tips">
            <h1>温馨提示</h1>
            <div>
              <p>1.如遇户号绑定失败问题，请到营业厅完善用户资料</p>
              <p>
                2.未经许可同意，不得绑定他人客户代码，因侵犯他人权益造成的损失和法律责任由绑定者全部承担
              </p>
              <p><br /></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  table.dataTable thead > tr > th {
    padding-right: 8px;
  }

  #input-1 {
    margin-top: 10px;
  }

  .error {
    color: red;
    margin-left: 0;
    font: 14px/20px '';
  }

  .form-group {
    margin-bottom: 0;
  }

  #editForm .form-group {
    min-height: 50px;
    display: flex;
  }

  .col-sm-6 > span {
    position: absolute;
    left: 240px;
    top: 2px;
  }

  .col-sm-6 {
    display: flex;
  }

  .col-sm-6 input {
    height: 34px;
  }

  .form-horizontal .control-label {
    padding-top: 0;
  }

  .form-inline .form-group {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 767px) {
    body {
      background: #f6f6f6;
    }

    #main {
      background: #f6f6f6;
    }

    .background {
      background: #f6f6f6;
    }

    #input-1 {
      margin-top: 4px;
    }

    .main-content .content {
      background: #f6f6f6;
    }

    .main-content .data-list {
      background: #fff;
    }

    #suypowerGrid .row .col-sm-12 {
      overflow-x: scroll;
      padding-right: 0;
      padding-left: 0;
      border: 1px solid #ccc;
      margin-left: 15px;
    }

    .col-sm-6 {
      display: block;
    }

    .col-sm-6 > span {
      position: absolute;
      display: block;
      width: 145px;
      top: -4px;
      left: 110px;
    }

    #editForm .form-group .form-control {
      width: 220px;
      border: 0;
    }

    #editForm .form-group {
      width: 92%;
      margin-left: 4%;
      margin-bottom: 5px;
      padding-top: 5px;
      position: relative;
    }

    .col-sm-offset-2 {
      margin: 0 auto;
      width: 100%;
      padding: 0;
    }

    .form-group {
      width: 104%;
    }

    .col-sm-6 > span {
      position: absolute;
      left: 120px;
      top: -4px;
    }

    .col-sm-6 > p {
      width: 220px;
    }

    #editForm {
      border-bottom: 0;
      margin: 0 10px;
    }

    .top-back {
      border-radius: 8px;
      background: #fff;
      /*box-shadow: 0 1px 2.94px 2.06px rgba(4,26,55,.16);*/
      margin-bottom: 50px;
    }

    #editForm .form-border {
      border-bottom: 1px solid #f1f1f1;
      position: relative;
    }

    /*.shure{*/
    /*position: static;*/
    /*}*/
    /*.icheckbox_flat-blue{*/
    /*position: absolute;*/
    /*right:0;*/
    /*top:12px;*/
    /*}*/
    #editForm .phone-none {
      display: none;
    }

    #editForm .phone-block {
      display: flex;
    }

    #editForm .form-group .col-sm-2 {
      text-align: left;
    }

    .top-backnone .btn {
      width: 100% !important;
      border: 0;
    }

    #editForm .top-backnone .form-group {
      width: 100%;
      margin-left: 0;
    }

    .icheckbox_flat-blue,
    .iradio_flat-blue {
      margin-top: 6px;
    }
  }

  .main-content .hint-tips {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 4px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    position: unset;
    top: unset;
    left: unset;
    width: unset;
  }
</style>
<script src="./js/personalMain.js"></script>
<script>
  function doSubmit() {
    var userCode = $('#userCode').val()
    if (userCode) {
      var load = layer.load(3)
      $.ajax({
        type: 'GET',
        url:
          baseUrl_API_WeiXin +
          'netUserInfoController/findAllUser?userInfoCode=' +
          userCode,
        success: function (res) {
          if (res.userInfoCode) {
            $.ajax({
              type: 'Post',
              url: baseUrl_API_WeiXin + 'payUser/updateUserTablesByOpenId',
              data: JSON.stringify({
                openId: getlocalStorage('openId'),
                userInfoCode: res.userInfoCode, //户号
                userName: res.userName.replace(/\s+/g, ''), //用户名
                userAddress: res.userAddress, //用户地址
                contect: '', //用户电话
                accountMoney: res.accountMoney //余额
              }),
              dataType: 'json',
              contentType: 'application/json',
              success: function (res2) {
                layer.close(load)
                if (res2.success == true) {
                  bindConsAndPhone(res.userInfoCode)
                  // layer.alert('绑定成功~')
                } else {
                  layer.alert(res.message || '绑定失败~')
                }
              }
            })
          } else {
            layer.close(load)
            layer.alert(res.message || '未查询到户号信息~')
          }
        }
      })
    } else {
      top.layer.msg('请输入户号', { icon: 2, time: 3000 })
    }
  }
  function bindConsAndPhone(userInfoCode) {
    $.ajax({
      type: 'Post',
      url: baseUrl + '/ysUser/save',
      data: JSON.stringify({
        id: 0,
        mobileNumber: getlocalStorage('phone'),
        openId: getlocalStorage('openId'),
        ysCode: [userInfoCode]
      }),
      dataType: 'json',
      contentType: 'application/json',
      success: function (res) {
        if (res.code == 10000) {
          layer.alert('绑定成功~')
        } else {
          layer.alert(res.message || '绑定失败~')
        }
      }
    })
  }
</script>
