@import "./variables.scss";
// scss统一管理主题
.navbar {
    @include background_color("headerBg");
    @include font_color("headerTextColor");
    .hamburger-container {
        @include background_color("hamburgerBg");
    }
}

// 导航栏
.headerbar-router-container {
    .el-menu {
        @include background_color("headerBg");
        .el-menu-item {
            @include font_color("headerTextColor");
            &:hover {
                @include font_color("headerHoverText");
                @include background_color("headerBg");
            }
            &.is-active {
                @include background_color("headerBg");
                @include font_color("headerActiveText");
                font-weight: bold;
            }
        }
    }
}

.el-container {
    @include background_color("mainBg");
    .el-main {
        @include background_color("mainBg");
        .formBox {
            @include background_color("mainBg");
        }
    }
    .el-aside {
        @include background_color("mainBg");
        .struc-tree {
            @include background_color("mainBg");
        }
    }
}

// 弹框头部
.el-dialog__header {
    @include background_color("headerBg");
    .el-dialog__title {
        @include font_color("headerTextColor");
    }
}

.el-dialog__headerbtn .el-dialog__close {
    @include font_color("headerTextColor");
    &:hover {
        @include font_color("headerTextColor");
    }
}

// 表格头部颜色
.el-table .el-table__header thead tr th {
    @include background_color("table-header");
    @include font_color("table-color");
}

// tabs分页头部
[data-theme="white"] .el-tabs--border-card>.el-tabs__header .el-tabs__item {
    border-top: 4px solid transparent;
}

[data-theme="white"] .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    border-top: 4px solid #1890FF;
}

[data-theme="blue"] .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active,
[data-theme="dark"] .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    background: #0A7BE0;
    color: #fff;
}

[data-theme="blue"] .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active,
[data-theme="dark"] .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    &:hover {
        color: #fff;
    }
}

[data-theme="dark"] .el-tabs .el-tabs__content {
    color: rgba(255, 255, 255, 0.7);
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5 {
    color: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] .el-range-editor {
    .el-range-input {
        background-color: transparent;
    }
}

[data-theme="dark"] .el-tag {
    background: transparent !important;
}

[data-theme="dark"] .el-tag {
    border-color: $darkPrimary;
}

[data-theme="dark"] .el-tag.el-tag--success {
    border-color: $darkSuccess;
}

[data-theme="dark"] .el-tag.el-tag--info {
    border-color: #cccccc;
}

[data-theme="dark"] .el-tag.el-tag--warning {
    border-color: $darkWarning;
}

[data-theme="dark"] .el-tag.el-tag--danger {
    border-color: $darkDanger;
}

// 下拉多选
[data-theme="dark"] .el-tag.el-tag--info .el-tag__close {
    color: #333 !important;
}

// 暗黑风格下的禁用颜色
[data-theme="dark"] .el-checkbox-button.is-disabled .el-checkbox-button__inner,
[data-theme="dark"] .el-radio-button__orig-radio:disabled+.el-radio-button__inner {
    background: #585858;
}

[data-theme="dark"] .el-button.is-plain {
    background: transparent;
}

[data-theme="dark"] .el-button--primary.is-plain {
    border-color: $darkPrimary;
}

[data-theme="dark"] .el-button--success.is-plain {
    border-color: $darkSuccess;
}

[data-theme="dark"] .el-button--warning.is-plain {
    border-color: $darkWarning;
}

[data-theme="dark"] .el-button--danger.is-plain {
    border-color: $darkDanger;
}

[data-theme="dark"] .el-button--primary.is-plain.is-disabled,
[data-theme="dark"] .el-button--primary.is-plain.is-disabled:active,
[data-theme="dark"] .el-button--primary.is-plain.is-disabled:focus,
[data-theme="dark"] .el-button--primary.is-plain.is-disabled:hover {
    background-color: #0a7be052;
    border-color: #0a7be052;
}

[data-theme="dark"] .el-button--default.is-disabled,
[data-theme="dark"] .el-button--default.is-disabled:active,
[data-theme="dark"] .el-button--default.is-disabled:focus,
[data-theme="dark"] .el-button--default.is-disabled:hover {
    color: rgba(255, 255, 255, 0.4);
}
// 典雅黑下日期范围颜色
[data-theme="dark"] .el-date-table td.start-date div,[data-theme="dark"] .el-date-table td.end-date div {
    color: rgba(255, 255, 255, 0.8);
}