<section
 style="margin-bottom: 10px;outline: 0px;letter-spacing: 0.544px;color: rgb(34, 34, 34);min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;visibility: visible;">
 <span style="outline: 0px;font-size: 18px;visibility: visible;">停水类型：</span><span
  style="outline: 0px;font-size: 18px;color: rgb(240, 0, 0);visibility: visible;">紧急停水</span></section>
<section
 style="margin-bottom: 10px;outline: 0px;letter-spacing: 0.544px;color: rgb(34, 34, 34);min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;visibility: visible;">
 <span style="outline: 0px;font-size: 18px;color: rgb(0, 0, 0);visibility: visible;">停水时间：</span><span
  style="outline: 0px;font-size: 18px;color: rgb(240, 0, 0);visibility: visible;"><span
   style="outline: 0px;font-family: -apple-system-font, &quot;Helvetica Neue&quot;, sans-serif;text-align: start;visibility: visible;">2023-12-13&nbsp;
   12:00时&nbsp;</span><span
   style="outline: 0px;font-family: Helvetica, Arial, sans-serif;letter-spacing: 0.544px;visibility: visible;">至&nbsp;</span><span
   style="outline: 0px;font-family: -apple-system-font, &quot;Helvetica Neue&quot;, sans-serif;text-align: start;visibility: visible;">2023-12-13&nbsp;
   &nbsp;13:00时</span></span></section>
<section
 style="margin-bottom: 10px;outline: 0px;letter-spacing: 0.544px;min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;visibility: visible;">
 <span
  style="color: rgb(0, 0, 0);outline: 0px;text-align: start;font-family: Helvetica, Arial, sans-serif;font-size: 18px;letter-spacing: 0.544px;visibility: visible;">停水原因：</span><span
  style="color: rgb(240, 0, 0);outline: 0px;text-align: start;font-family: Helvetica, Arial, sans-serif;font-size: 18px;letter-spacing: 0.544px;visibility: visible;">因九龙大酒店门前供水干管爆管，需进行停水抢修。</span>
</section>
<section
 style="margin-bottom: 10px;outline: 0px;letter-spacing: 0.544px;color: rgb(34, 34, 34);min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;visibility: visible;">
 <span style="outline: 0px;letter-spacing: 0.544px;font-size: 18px;visibility: visible;">停水范围：</span><span
  style="color: rgb(240, 0, 0);font-size: 18px;letter-spacing: 0.544px;">景明山庄、九龙大酒店、世纪国宾小区、高平电视台、高平五中、小北庄回迁楼、红萍服饰<span
   style="color: rgb(240, 0, 0);font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;font-size: 18px;letter-spacing: 0.544px;text-wrap: wrap;">等</span>用户。</span>
</section>
<section
 style="margin-bottom: 10px;outline: 0px;letter-spacing: 0.544px;color: rgb(34, 34, 34);min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;visibility: visible;">
 <span style="outline: 0px;letter-spacing: 0.544px;font-size: 18px;color: rgb(240, 0, 0);visibility: visible;"><br
   style="outline: 0px;" /></span></section>
<section
 style="margin-bottom: 10px;outline: 0px;letter-spacing: 0.544px;color: rgb(34, 34, 34);min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;visibility: visible;">
 <span style="outline: 0px;font-size: 18px;color: rgb(0, 0, 0);visibility: visible;">注意事项：</span><span
  style="outline: 0px;font-size: 18px;color: rgb(240, 0, 0);visibility: visible;">停水期间请您管理好自己的用水器具，以防提前来水后造成损失。</span>
</section>
<section
 style="margin-bottom: 10px;outline: 0px;letter-spacing: 0.544px;color: rgb(34, 34, 34);min-height: 1em;font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;visibility: visible;text-align: center;">
 <span style="outline: 0px;font-size: 18px;letter-spacing: 0.544px;visibility: visible;">给您造成的不便，敬请谅解！</span></section>
<p
 style="margin-bottom: 0px;outline: 0px;letter-spacing: 0.544px;color: rgb(34, 34, 34);font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;visibility: visible;">
 <span style="outline: 0px;font-size: 18px;visibility: visible;">24小时供水服务热线：5269899 5268740 18634279899
  18536408740</span></p>
<p
 style="margin-bottom: 0px;outline: 0px;letter-spacing: 0.544px;color: rgb(34, 34, 34);font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;visibility: visible;">
 <br style="outline: 0px;visibility: visible;" /></p>
<p
 style="margin-bottom: 0px;outline: 0px;letter-spacing: 0.544px;color: rgb(34, 34, 34);font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: right;visibility: visible;">
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp;高平市清泉供水有限公司</p>
<p
 style="margin-bottom: 0px;outline: 0px;letter-spacing: 0.544px;color: rgb(34, 34, 34);font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: right;visibility: visible;">
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; 2023年12月13日</p>
<p style="margin-bottom: 0em;outline: 0px;letter-spacing: 0.544px;text-align: center;visibility: visible;"><img
  class="rich_pages wxw-img" data-galleryid="" data-imgfileid="100000782" data-ratio="1.1111111111111112"
  data-s="300,640"
  src="http://123.161.164.75:10000/SuntrontOfficialwebAPI//home/fileUpload/official/imgs/2024/01/04/640.jpg"
  data-type="jpeg" data-w="1080" style="outline: 0px;visibility: visible !important;width: 677px !important;" /></p>
<p style="display: none;"><mp-style-type data-value="3"></mp-style-type></p>
</div>