<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-align: center; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <img
    class="rich_pages"
    style="width: 578px; height: 297px; box-sizing: border-box !important; overflow-wrap: break-word !important; visibility: visible !important;"
    src="http://123.161.164.75:10000/SuntrontOfficialwebAPI//home/fileUpload/official/imgs/2023/11/18/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20231118164136.png"
    data-cropselx1="0"
    data-cropselx2="578"
    data-cropsely1="0"
    data-cropsely2="306"
    data-ratio="0.5133470225872689"
    data-s="300,640"
    data-type="png"
    data-w="1461"
  />
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; line-height: 36px; text-align: center; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  &nbsp;
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >广大用水户：</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >按照国投集团党委关于开展&ldquo;我为群众办实事&rdquo;实践活动安排部署，结合公司实际，现就提升公司供水管理水平，加强公司党支部建设面向社会各界征集意见和建议。</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >一、征集内容</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >围绕国投集团&ldquo;1236&rdquo;发展战略，从供水工作实际出发，聚焦供水基础设施建设、供水服务水平、用户报装业务办理、供水收费、公司党支部建设等方面内容征集意见建议，切实解决用户急、难、愁、盼的具体问题，提升公司支部党建工作和供水服务水平。</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >二、征集要求</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >意见建议请紧紧围绕征集内容展开，具体清晰，简洁明了。</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >三、征集方式</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >1、电话热线：0356-5269899</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      ><strong
        style="color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; text-indent: 43px; white-space: normal; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
        ><span
          style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
          >2、各营业网点</span
        ></strong
      ></span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >3、电子邮箱：39270128@qq.com<br /></span
  ></strong>
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >四、征集时间</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-indent: 43px; line-height: 36px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >即日起至2021年5月15日止。</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; line-height: 36px; text-align: center; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >&nbsp;</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; line-height: 36px; text-align: right; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >高平市清泉供水有限公司党支部</span
    ></strong
  >
</p>
<p
  style="max-width: 100%; min-height: 1em; color: #595959; font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; letter-spacing: 1.5px; white-space: normal; background-color: #ffffff; text-align: right; box-sizing: border-box !important; overflow-wrap: break-word !important;"
>
  <strong
    style="max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important;"
    ><span
      style="max-width: 100%; font-family: 仿宋; font-size: 16px; box-sizing: border-box !important; overflow-wrap: break-word !important;"
      >2021年5月8日</span
    ></strong
  >
</p>
