<section style="text-align: center;" data-role="outer">
  <section style="outline: 0px; font-size: 16px;" data-tplid="100282">
    <section style="outline: 0px;" data-role="outer">
      <section style="outline: 0px;">
        <section style="outline: 0px;">
          <section
            style="outline: 0px; background-color: #790a11; transform: scale(1);"
          >
            <section style="outline: 0px;">
              <p style="text-align: center;">&nbsp;</p>
            </section>
            <section style="outline: 0px;">
              <section
                style="outline: 0px; font-size: 17px; letter-spacing: 0.578px; font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;"
                data-tools="135编辑器"
                data-id="132761"
              >
                <section
                  style="margin: 10px auto; padding: 20px 15px; outline: 0px; background-color: #fff7f6;"
                >
                  <section>
                    <section style="outline: 0px; flex-shrink: 0;">
                      <section
                        style="margin-bottom: 0px; color: #333333; font-size: 14px; text-wrap: wrap; outline: 0px; letter-spacing: 0.544px; font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-variant-numeric: normal; font-variant-east-asian: normal; text-align: center; widows: 1; line-height: 27.2px; background-color: #ffffff;"
                      >
                        <section
                          style="margin-top: 10px; margin-bottom: 10px; outline: 0px;"
                        >
                          <section
                            style="outline: 0px; border-radius: 10px; border: 5px solid #ea5959;"
                          >
                            <section
                              style="padding: 10px; outline: 0px; border-radius: 5px; background-image: url('https://mmbiz.qpic.cn/mmbiz_png/Ljib4So7yuWiahby7K6Sia4YVvV0Bjagly83CWiaFFmPR0ZCuELOCQKDWXMgQAcOaq6yRxKbY01JqWiaTlTViark3KXA/640?wx_fmt=jpeg'); background-attachment: initial; background-size: 100%; background-origin: initial; background-clip: initial; background-position: 50% 0%; background-repeat: repeat;"
                            >
                              <p
                                style="margin-top: 5px; outline: 0px; letter-spacing: 2px; text-indent: 2em;"
                              >
                                <span style="font-size: 17px;"
                                  ><strong
                                    ><span style="color: #f00000;"
                                      >月到中秋分外明，国庆更喜庆。在这美好的日子里，清泉供水祝愿您人逢喜事精神爽，人团家圆事业成，幸福安康身体硬，心想事成，预祝中秋节快乐！让我们华夏子孙一起祝愿祖国盛、家团圆、人幸福！</span
                                    ></strong
                                  ></span
                                >
                              </p>
                            </section>
                          </section>
                        </section>
                      </section>
                      <p
                        style="margin-bottom: 0px; color: #333333; font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, Arial, sans-serif; font-size: 14px; letter-spacing: 1.5px; text-wrap: wrap; background-color: #ffffff; outline: 0px;"
                      >
                        &nbsp;
                      </p>
                      <p
                        style="margin-bottom: 0px; color: #333333; font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, Arial, sans-serif; font-size: 14px; letter-spacing: 1.5px; text-wrap: wrap; background-color: #ffffff; outline: 0px;"
                      >
                        <strong
                          style="background-color: #fff7f6; font-size: 17px; letter-spacing: 0.578px; color: #c00000; text-align: left; outline: 0px;"
                          data-brushtype="text"
                          >尊敬的各位用户：</strong
                        >
                      </p>
                    </section>
                  </section>
                  <section style="outline: 0px;">
                    <section
                      style="padding: 10px; outline: 0px; background-color: #ffffff; line-height: 3em;"
                    >
                      <section
                        style="margin-bottom: 10px; outline: 0px; display: flex; justify-content: flex-start; align-items: flex-start;"
                      >
                        <section
                          style="outline: 0px; line-height: 1.75em; letter-spacing: 1.5px; font-size: 14px; color: #333333; background: transparent;"
                          data-autoskip="1"
                        >
                          <p style="outline: 0px;">
                            &nbsp;&nbsp;<span
                              style="outline: 0px; font-size: 16px;"
                              >&nbsp; &nbsp;</span
                            ><span style="letter-spacing: 2px;"
                              ><span style="outline: 0px; font-size: 16px;"
                                >国庆来临之际，</span
                              ><span
                                style="background-color: transparent; color: #3f3f3f; font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif; text-indent: 2em; caret-color: red; font-size: 16px;"
                                >为保障广大用户用水无忧，我公司已提前做好了节日期间各项供水保障工作，服务岗位人员24小时坚守，为您的假期用水做好保障。在此，提醒外出度假的朋友们，请关闭用水总阀，避免发生意外漏水造成损失。</span
                              ></span
                            >
                          </p>
                          <p style="outline: 0px; line-height: 1.6em;">
                            &nbsp;
                          </p>
                          <p style="outline: 0px; text-align: center;">
                            <span style="letter-spacing: 2px;"
                              ><span
                                style="outline: 0px; font-size: 16px; background-color: transparent; caret-color: red; color: #3f3f3f; font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;"
                                >放假期间如出现供水突发事情</span
                              ><span
                                style="background-color: transparent; outline: 0px; caret-color: red; color: #3f3f3f; font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif; font-size: 16px;"
                                >，请拨打</span
                              ></span
                            >
                          </p>
                          <p style="outline: 0px; text-align: center;">
                            <span style="letter-spacing: 2px;"
                              ><span
                                style="background-color: transparent; outline: 0px; caret-color: red; color: #3f3f3f; font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif; font-size: 16px;"
                                >24小时</span
                              ><span
                                style="background-color: transparent; color: #3f3f3f; font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif; caret-color: red; font-size: 16px;"
                                >供水服务热线:5269899&nbsp;5268740</span
                              ></span
                            >
                          </p>
                          <p style="outline: 0px; text-align: center;">
                            <span
                              style="background-color: transparent; caret-color: red; color: #3f3f3f; font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif; outline: 0px; font-size: 16px; letter-spacing: 2px;"
                              >18536408740&nbsp; &nbsp;18634279899</span
                            >
                          </p>
                          <p style="outline: 0px; text-align: center;">
                            <span
                              style="font-size: 16px; outline: 0px; background-color: transparent; caret-color: red; color: #3f3f3f; font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;"
                              >&nbsp;</span
                            >
                          </p>
                          <p style="text-align: center;">
                            <img
                              class="rich_pages wxw-img"
                              data-galleryid=""
                              data-ratio="1.1111111111111112"
                              data-s="300,640"
                              data-src="https://mmbiz.qpic.cn/mmbiz_jpg/2xkk74hIMgLQGpopGdViaicAdoqxrRhw5pugoCk6ckJYCfYqgf33KQFNKibp6B717ldpsMMzmUOEd2SLoBicFiasBXg/640?wx_fmt=jpeg"
                              data-type="jpeg"
                              data-w="1080"
                            />
                          </p>
                        </section>
                      </section>
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
<p style="display: none;">&nbsp;</p>
