<section
  style="margin-bottom: 0px; outline: 0px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; letter-spacing: 0.544px; text-wrap: wrap; background-color: #ffffff;"
>
  <section
    style="margin-top: 20px; outline: 0px; display: flex; flex-flow: row; text-align: center; justify-content: center;"
  >
    <section
      style="outline: 0px; display: inline-block; vertical-align: middle; width: auto; flex: 0 0 0%; align-self: center; height: auto; line-height: 0.5;"
    >
      <section style="outline: 0px;">
        <section
          style="outline: 0px; display: inline-block; width: 50px; height: 12px; vertical-align: top; overflow: hidden; border-top: 1px solid #3771bb; border-top-left-radius: 8px; border-left: 1px solid #3771bb; border-bottom-left-radius: 0px;"
        >
          <section style="outline: 0px;"></section>
        </section>
      </section>
    </section>
    <section
      style="margin-top: -6px; margin-right: 10px; margin-left: 10px; outline: 0px; display: inline-block; vertical-align: top; width: auto; flex: 100 100 0%; align-self: flex-start; height: auto; border-top: 1px none #3771bb; border-top-left-radius: 0px; background-color: rgba(255, 255, 255, 0);"
    >
      <section style="margin-bottom: 3px; outline: 0px;">
        <section
          style="outline: 0px; background-color: rgba(55, 113, 187, 0.22); height: 1px;"
        ></section>
        <section
          style="outline: 0px; background-color: rgba(55, 113, 187, 0.22); height: 1px;"
        ></section>
      </section>
      <section
        style="padding-right: 5px; padding-left: 5px; outline: 0px; display: inline-block; width: 557px; vertical-align: top; background-color: rgba(55, 113, 187, 0.09);"
      >
        <section style="outline: 0px;">
          <section
            style="outline: 0px; font-size: 25px; color: #3771bb; letter-spacing: 2px;"
          >
            <p style="outline: 0px;">重要提醒</p>
          </section>
        </section>
      </section>
    </section>
    <section
      style="outline: 0px; display: inline-block; vertical-align: middle; width: auto; flex: 0 0 0%; align-self: center; height: auto; line-height: 0.5;"
    >
      <section style="outline: 0px;">
        <section
          style="outline: 0px; display: inline-block; width: 50px; height: 12px; vertical-align: top; overflow: hidden; border-top: 1px solid #3771bb; border-top-left-radius: 0px; border-right: 1px solid #3771bb; border-top-right-radius: 8px;"
        >
          <section style="outline: 0px;"></section>
        </section>
      </section>
    </section>
  </section>
</section>
<section
  style="margin-bottom: 0px; outline: 0px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; letter-spacing: 0.544px; text-wrap: wrap; background-color: #ffffff;"
>
  <p>&nbsp;</p>
  <p>
    <span
      style="color: #3771bb; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; letter-spacing: 1px; text-wrap: wrap; background-color: #ffffff;"
      >各位用户：</span
    >
  </p>
  <section style="line-height: 2em;">
    <span
      style="color: #3771bb; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; letter-spacing: 1px; text-wrap: wrap; background-color: #ffffff;"
      >&nbsp; &nbsp; &nbsp;
      根据天气预报，我市近期气温将会大幅下降，极可能会出现用水管道、水表、器具内部结冰情况，不仅会影响您的正常用水，严重时可能会因用水管道、<span
        style="color: #3771bb; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; letter-spacing: 1px; text-wrap: wrap; background-color: #ffffff;"
        >水表、</span
      >器具冻裂造成漏水，给您造成财产损失。请各位用户及早做好自家用水管道、<span
        style="color: #3771bb; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; letter-spacing: 1px; text-wrap: wrap; background-color: #ffffff;"
        >水表、</span
      >器具的防冻保暖工作。</span
    >
  </section>
</section>
<section
  style="margin-top: 10px; margin-bottom: 10px; outline: 0px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; letter-spacing: 0.544px; text-wrap: wrap; background-color: #ffffff;"
>
  <section
    style="padding-right: 5px; padding-left: 5px; outline: 0px; display: inline-block; width: 100%; vertical-align: top;"
  >
    <section
      style="outline: 0px; color: #3771bb; line-height: 2; letter-spacing: 1px;"
    >
      <section
        style="margin-bottom: 0px; outline: 0px; letter-spacing: 0.544px; text-wrap: wrap; caret-color: rgba(0, 0, 0, 0); font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; background-color: #ffffff;"
      >
        <section
          style="margin-top: 10px; margin-bottom: 10px; outline: 0px; text-align: left;"
        >
          <section
            style="padding: 3px; outline: 0px; border: 1px solid #88aecc;"
          >
            <section style="outline: 0px; border: 1px solid #88aecc;">
              <section style="padding: 15px; outline: 0px; color: #749ab8;">
                <p
                  style="outline: 0px; letter-spacing: 2px; text-indent: 2em; text-align: justify;"
                >
                  <span
                    style="outline: 0px; font-size: 16px; text-indent: 2em; font-family: 微软雅黑; letter-spacing: 0.544px; widows: 1;"
                    >如果您出现用水不便情况，请及时拨打我公司24小时服务热线</span
                  ><span
                    style="outline: 0px; font-size: 16px; text-indent: 2em; font-family: 微软雅黑; letter-spacing: 0.544px; widows: 1; color: #f00000;"
                    >5269899&nbsp; 5268740</span
                  ><span
                    style="outline: 0px; font-size: 16px; text-indent: 2em; font-family: 微软雅黑; letter-spacing: 0.544px; widows: 1;"
                    >，我们将随时为您提供服务。</span
                  >
                </p>
              </section>
            </section>
          </section>
          <section
            style="margin-top: -42px; margin-left: auto; outline: 0px; width: 1.2em; transform: rotateZ(0deg);"
          >
            <img
              class="__bg_gif rich_pages wxw-img"
              style="outline: 0px; vertical-align: top; display: block; visibility: visible !important; width: auto !important; border: initial none initial;"
              data-fileid="100000609"
              data-imgfileid="100000777"
              data-ratio="2.6206896551724137"
              data-src="https://mmbiz.qpic.cn/mmbiz_gif/Ljib4So7yuWiaIb4KlDoxKHC7DicT0wEDGpsU8Xofzv2wibZKGJVRCfooKibJBoEVqrXFWXATyWYyFzsPolxLw0f2qA/640?wx_fmt=gif&amp;tp=wxpic&amp;wxfrom=5&amp;wx_lazy=1"
              data-type="gif"
              data-w="29"
            />
          </section>
        </section>
      </section>
      <p style="outline: 0px; text-align: right;">
        <span style="outline: 0px;">&nbsp; &nbsp; &nbsp;&nbsp;</span>
      </p>
    </section>
    <section
      style="outline: 0px; color: #e61406; line-height: 2; letter-spacing: 1px;"
    >
      <p style="outline: 0px; color: #3771bb; text-align: right;">
        高平市清泉供水有限公司
      </p>
      <p style="outline: 0px; color: #3771bb; text-align: right;">
        &nbsp; &nbsp; &nbsp; 2023年12月8日
      </p>
    </section>
  </section>
</section>
<section
  style="margin-bottom: 0px; outline: 0px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; letter-spacing: 0.544px; text-wrap: wrap; background-color: #ffffff;"
>
  <section
    style="margin-bottom: 10px; outline: 0px; display: flex; flex-flow: row; text-align: center; justify-content: center;"
  >
    <section
      style="outline: 0px; display: inline-block; vertical-align: bottom; width: auto; flex: 0 0 0%; align-self: flex-end; height: auto; line-height: 0.5;"
    >
      <section style="outline: 0px;">
        <section
          style="outline: 0px; display: inline-block; width: 50px; height: 12px; vertical-align: top; overflow: hidden; border-top: 1px none #3771bb; border-top-left-radius: 0px; border-left: 1px solid #3771bb; border-bottom-left-radius: 8px; border-bottom: 1px solid #3771bb; border-bottom-right-radius: 0px;"
        >
          <section style="outline: 0px;"></section>
        </section>
      </section>
    </section>
    <section
      style="outline: 0px; display: inline-block; vertical-align: bottom; width: auto; flex: 100 100 0%; align-self: flex-end; height: auto; border-bottom: 1px solid #3771bb; border-bottom-right-radius: 0px;"
    >
      <section style="outline: 0px;"></section>
    </section>
    <section
      style="outline: 0px; display: inline-block; vertical-align: bottom; width: auto; flex: 0 0 0%; align-self: flex-end; height: auto; line-height: 0.5;"
    >
      <section style="outline: 0px;">
        <section
          style="outline: 0px; display: inline-block; width: 50px; height: 12px; vertical-align: top; overflow: hidden; border-top: 1px none #3771bb; border-top-left-radius: 0px; border-right: 1px solid #3771bb; border-top-right-radius: 0px; border-bottom: 1px solid #3771bb; border-bottom-right-radius: 8px;"
        >
          <section style="outline: 0px;"></section>
        </section>
      </section>
    </section>
  </section>
</section>
<section
  style="margin-bottom: 0px; outline: 0px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; letter-spacing: 0.544px; text-wrap: wrap; background-color: #ffffff;"
>
  <p style="text-align: center;">
    <img
      class="rich_pages wxw-img"
      data-galleryid=""
      data-ratio="1.1111111111111112"
      data-s="300,640"
      data-src="https://mmbiz.qpic.cn/mmbiz_jpg/2xkk74hIMgLQGpopGdViaicAdoqxrRhw5pugoCk6ckJYCfYqgf33KQFNKibp6B717ldpsMMzmUOEd2SLoBicFiasBXg/640?wx_fmt=jpeg"
      data-type="jpeg"
      data-w="1080"
    />
  </p>
  <p style="outline: 0px;">&nbsp;</p>
</section>
<section
  style="margin-top: 10px; margin-bottom: 10px; outline: 0px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; letter-spacing: 0.544px; text-wrap: wrap; background-color: #ffffff; text-align: center;"
>
  <section
    style="outline: 0px; display: inline-block; width: 18px; height: 18px; vertical-align: top; overflow: hidden; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; background-attachment: scroll; background-image: url('https://mmbiz.qpic.cn/mmbiz_gif/gnrXJK0GITOSCPlPQYBgxZNDCJDfNSSliaMbJhTnbeKIeNvM7IQVRm1dQRpiblHEphKia6u6L1D1u83yOzAI4ibX0Q/640?wx_fmt=gif');"
    data-lazy-bgimg="https://mmbiz.qpic.cn/mmbiz_gif/gnrXJK0GITOSCPlPQYBgxZNDCJDfNSSliaMbJhTnbeKIeNvM7IQVRm1dQRpiblHEphKia6u6L1D1u83yOzAI4ibX0Q/640?wx_fmt=gif"
    data-fail="0"
  ></section>
</section>
<p>&nbsp;</p>
<p style="display: none;">&nbsp;</p>
