html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
[v-cloak] {
    display: none;
}
input[type="number"]{
	-webkit-appearance: none;
	-moz-appearance: textfield;
}
* {box-sizing: border-box;}
header { margin: 0 auto;}
main {height: 100% ;background-color: #F9F9F9;}
.main {height: calc(100% - 235px);background-color: #F9F9F9;}
main>section {
  width: 1167px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
}
main>section>p {
	font-size: 14px;
  font-weight: bold;
  height: 46px;
  line-height: 46px;
  margin: 0;
  color:#595959;
  border-left: 2px solid #2696DA;
  text-indent: 15px;
}
a {
  color: #64A5D8;
  text-decoration: none;
}
main>section>.content-box {
  height: calc(100% - 92px);
  background: #fff;
  padding: 30px 50px 10px 50px;
	/* padding: 0px 50px; */
  border: 1px solid #CECECE;
  font-size: 14px;
  color: #595959;
}
main>section>.content-box>h3 {
  height: 50px;
  margin: 0;
  font-size: 22px;
  text-align: center;
  border-bottom: 1px solid #E6E6E6;
}
main>section>.content-box>.content {
  height: calc(100% - 100px);
  overflow: auto;
}
main>section>.content-box>p {
  line-height: 22px;
  margin: 20px 10px;
}
main>section>.content-box>.btn-box {
  line-height: 60px;
  text-align: center;
}
button {
  width: 100px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  background: #CCCCCC;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background: #B7B7B7;
}
.btn-primary {
  background: #3288C7;
  margin-left: 20px; 
}
.btn-primary:hover {
  background: #80B7DF !important;
}
footer {height: 130px; background: #4c99ef;}
footer>section {
  width: 1100px;
  height: 100%; 
  margin: 0 auto;
  /* background: url('../images/foot.jpg') no-repeat; */
  background-size:100%;
  padding-left:68px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
}
footer>section p {margin: 0;}

main>section>.content-box>.serch-box {
  height: 60px;
  border-bottom: 1px solid #E6E6E6;
}
main>section>.content-box>.serch-box input {
  height: 35px;
  line-height: 35px;
  border: 1px solid #B6B4B5;
  padding-left: 10px;
  border-radius: 4px;
}
main>section>.content-box>.step-box {
  text-align: center;
  padding-top: 30px;
  color: #B3B3B3;
}
.step-box>div {
  margin-top: 20px;
}
.step-box>div>.line {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  top: -40px;
}
.step-box>div>.line>span {
  display: inline-block;
  width: 100px;
  height: 2px;
  border-radius: 0;
  background: #BDBDBD;
}
.step-box>div>div {
  display: inline-block;
}
.step-box>div>div>span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: #E0E0E0;
  color: #989898;
  font-weight: bold;
	cursor: pointer;
}
.step-box>div>div>p {
  margin: 8px 0 0 0;
}
.step-box>div>.finish-step>span {
  background: #2797DA;
  color: #fff;
}
.step-box>div>.finish-step {
  color: #4FAAE1;
}
.content-box>.content>form {
  margin-top: 20px;
}
.content-box>.content .form-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.form-item>label {
  display: inline-block;
  width: 200px;
  text-align: right;
}
.form-item>input {
  width: 390px;
  height: 36px;
  padding-left: 10px;
  border: 1px solid #BEBCBD;
  border-radius: 3px;
	margin-right: 30px;
}
.form-item>select {
  width: 390px;
  height: 36px;
  padding-left: 10px;
  border: 1px solid #BEBCBD;
  border-radius: 3px;
}
.form-item>span {
	color: #f80d0d;
	font-size: 14px;
	font-weight: bold;
}
::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 8px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 8px;
}

::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #999;
}

::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background: #EDEDED;
}
.head-nav-up {
	height: 120px;
	background: url(../images/top_bg.jpg) repeat;
}
.head-logo {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}
.head-logo img {
    margin-top: 23px;
}