<div class="new" ng-controller="newCtrl">
  <div class="newList">
    <div class="banner">
      <img src="./images/homePage/bg2.png" alt="" title="" />
      <div class="article">
        <div class="chinese">{{title}}</div>
      </div>
    </div>
    <div class="page-content news">
      <div class="l" title="">
        <div class="news-list f-mt10">
          <button
            ng-if="dataList.length>0"
            type="button"
            class="layui-btn layui-btn-sm layui-btn-primary layui-border toggleBtn"
            ng-click="toggle();$event.stopPropagation()"
          >
            <img ng-if="!cardType" src="./images/卡片.png" alt="" title="" />
            <img ng-if="cardType" src="./images/列表.png" alt="" title="" />
          </button>
          <ul class="f-cb" ng-if="!cardType">
            <li ng-if="dataList.length>0" ng-click="newDetail(dataList[0].id);">
              <a href="javascript:;" class="f-cb">
                <img
                  style="
                    border-radius: 8px;
                    object-fit: cover;
                    border: 1px solid #ccc;
                    background-color: #fafafa;
                  "
                  ng-if="dataList[0].coverpic"
                  :ng-src="{{imageUrl+dataList[0].coverpic}}"
                  alt=""
                  width="300"
                  title=""
                />
                <img
                  style="
                    border-radius: 8px;
                    object-fit: cover;
                    border: 1px solid #ccc;
                  "
                  ng-if="!dataList[0].coverpic"
                  src="/images/homePage/nodata.png"
                  width="300"
                  title=""
                />
                <div class="txt">
                  <h3>{{dataList[0].title}}</h3>
                  <span>{{dataList[0].createtime}}</span>
                  <p>{{dataList[0].summary}}</p>
                </div>
              </a>
            </li>
            <li ng-repeat="item in dataList" ng-if="$index>0">
              <a
                ng-click="newDetail(item.id);"
                href="javascript:;"
                class="f-cb no-img"
              >
                <div class="txt">
                  <h3>{{item.title}}</h3>
                  <span><b>{{item.time2}}</b>{{item.time1}}</span>
                  <p>{{item.summary}}</p>
                </div>
              </a>
            </li>
          </ul>
          <div
            ng-if="dataList.length == 0"
            style="text-align: center; margin-top: 140px"
          >
            <img
              src="./images/noData3.png"
              style="width: 400px; height: 366px"
              alt=""
              srcset=""
            />
          </div>
          <div ng-if="cardType" class="layui-row layui-col-space15 listConent">
            <div
              ng-repeat="item in dataList"
              class="layui-col-xs8 layui-col-sm6 layui-col-md3"
              style="min-width: 325px"
            >
              <div class="layui-card box-list">
                <div class="layui-card-body">
                  <div
                    style="position: relative"
                    class="cover2"
                    ng-click="newDetail(item.id)"
                  >
                    <div class="imgDiv">
                      <img
                        ng-src="{{ imageUrl+item.coverpic }}"
                        class="image"
                        style="object-fit: cover"
                      />
                      <div class="small-lun-info">{{ item.title }}</div>
                    </div>

                    <div class="bottom clearfix">
                      <p class="time">发布时间:{{ item.createtime }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 分页 -->
      <div id="page" class="page"></div>
    </div>
    <!-- <div class="newLists">
        <div class="banner">
            <img src="./images/homePage/bg2.png" alt="" title="">
            <div class="article">
                <div class="chinese">{{title}}</div>
            </div>
        </div>

    </div> -->
  </div>
  <style>
    .listConent {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .box-list {
      box-sizing: border-box;
      margin: 0px 20px 20px 0px !important;
      height: 258px !important;
      border-bottom-width: 2px;
    }
    .box-list:hover {
      -webkit-box-shadow: #666 0px 0px 10px;
      -moz-box-shadow: #666 0px 0px 10px;
      box-shadow: #666 0px 0px 10px;
      border-bottom: 2px solid #1e90ff;
    }
    .cover2 {
      height: 100%;
      -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }
    .layui-card {
      height: 100%;
    }
    .layui-card .layui-card-body {
      height: 100%;
      padding: 0 !important;
    }
    .layui-card-body img {
      width: 100%;
      height: 186px;
      object-fit: fill;
      object-fit: contain;
      object-fit: scale-down;
    }
    .time {
      font-size: 13px;
      color: #999;
      position: relative;
      padding-left: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 28px;
    }
    .bottom {
      position: relative;
    }
    .imgDiv {
      position: relative;
    }
    .imgDiv .small-lun-info {
      position: absolute;
      bottom: 0;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      color: #fff;
      text-indent: 10px;
      z-index: 12;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      cursor: pointer;
    }

    .imgDiv .small-lun-info:hover {
      text-decoration: underline;
    }
    .news-list {
      position: relative;
    }
    .toggleBtn {
      position: absolute;
      top: -30px;
      right: -100px;
    }
  </style>
</div>
