*{
  margin: 0;
  padding: 0;
  font-family: "微软雅黑"
}
html {
  min-height: 100%;
  color: #333;
  -webkit-font-smoothing: antialiased; /* 字体优化反锯齿 */
  font-size: 62.5%;
  margin: 0 auto;
}
body,
input,
button,
textarea,
select,
option {
  font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
  font-size: 1.4rem;
  line-height: normal;
}
ul,
ol,
li {
  list-style: none;
}
em,
i{
  font-style: normal;
}
.cb{ clear:both;}
/* 清楚table单元格之间的间隙  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus{
  outline: none;
}
img{
  width: 100%;
  max-width: 100%;
}
a{
	color:#2B2B2B  ;
	text-decoration: none;
}
a:active{
	color: #666;
}
/* placeholder字体颜色*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #999; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #999; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #999; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #999!important;; 
} 

/* text-align */
.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }

/* float */
.fl { float: left; }
.fr { float: right; }
.cr {clear: both;}
.oh { overflow: hidden; }
.vh { visibility: hidden; }
/*--清除浮动
------------------------------------------------------------------------------------------*/
.clearfix:after { clear:both;content:".";display:block;font-size:0;height:0;visibility:hidden; }
.clearfix:after { _zoom:1; }
.overflow { overflow:hidden; _zoom:1; }
.clear { clear:both; height:0;font-size:0; overflow:hidden; }
/*定位*/
.pr { position: relative; }
.pa{ position: absolute; }
.pf{ position: fixed;}
.cp { cursor: pointer; }


/*行间距*/
.h45{height: 3.8rem;
  line-height: 3.8rem;
  }
.h26{
  height: 2.167rem;
  background-color: #333;
}
.h72{
  height: 6.167rem;
}
.mt10{
  margin-top: .8333rem;
}
.mt20{
  margin-top: 1.666rem;
}
.mt30{
  margin-top: 2.5rem;
}
.mt40{
  margin-top: 3.333rem;
}
.ml10{
	margin-left: 1.2rem;
}

/* 文字溢出隐藏  */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* check */
.form-check {
  display: inline-block;
  position: relative;
  margin-right: 1em;
  padding-left: 24px;
  line-height: 28px;
  cursor: pointer;
}
.form-check input {
  display: none;
}
.form-check input:checked + .check-icons .icon-check {
  display: inline-block;
}
.form-check input:checked + .check-icons .icon-uncheck {
  display: none;
}
.form-check .check-icons {
  position: absolute;
  top: -18px;
  right: 0;
  width: 26px;
  height: 26px;
  text-align: center;
}
.form-check .check-icons .icon {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
  font-size: 26px;
}
.form-check .check-icons .icon-uncheck {
  color: #999;
}
.form-check .check-icons .icon-check {
  color: #ff531a;
  display: none;
}
.ie8 .form-check .check-icons.check .icon-check,
.ie7 .form-check .check-icons.check .icon-check {
  display: inline-block;
}
.ie8 .form-check .check-icons.check .icon-uncheck,
.ie7 .form-check .check-icons.check .icon-uncheck {
  display: none;
}


@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1503971243664'); /* IE9*/
  src: url('../font/iconfont.eot?t=1503971243664#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1503971243664') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1503971243664') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1503971243664#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuizhicur:before { content: "\e65c"; }

.icon-shuibiao:before { content: "\e629"; }

.icon-home:before { content: "\e60c"; }

.icon-wangshangbanli:before { content: "\e686"; }

.icon-shui:before { content: "\e64c"; }

.icon-shuifeijiaona:before { content: "\e617"; }

.icon-falvfagui:before { content: "\e60d"; }

.icon-jiaofeifuwu:before { content: "\e6b1"; }

.icon-liucheng:before { content: "\e644"; }

.icon-weixin:before { content: "\e673"; }

.icon-changshianniu:before { content: "\e64f"; }

.icon-jiahao:before { content: "\e615"; }

.icon-jiufenchuli:before { content: "\e651"; }

.icon-weixin1:before { content: "\e64e"; }

.icon-shuifei:before { content: "\e7bb"; }

.icon-Notice:before { content: "\e694"; }

.icon-shouye:before { content: "\e601"; }

.icon-tubiao114:before { content: "\e602"; }

.icon-falvfaguiX:before { content: "\e69a"; }

.icon-jiaoxueziliao_xiazai:before { content: "\e600"; }

.icon-zhengcefagui:before { content: "\e610"; }

.icon-gongdanchuli:before { content: "\e66e"; }

.icon-baoxiu:before { content: "\e631"; }

.icon-question:before { content: "\e603"; }

.icon-danxuankuanghouxuan:before { content: "\e67e"; }

.icon-duihao:before { content: "\e62e"; }





